@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  background-color: #191427 ;
} */

span {
  background-color: white;
  border: none;
  outline: none;
  font-family: 'Fira Code';
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.Typewriter_wrapper{
  color: white;
}